
body {

    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    color: #505962;
    background: -webkit-linear-gradient(left, #7b5458, #fff);

}

.offset:before{
    display: block;
    content: "";
    height: 4rem;

}

.masthead h2 {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    text-shadow: 0.1rem 0.1rem 0.8rem black;
    padding-bottom: 1rem;
}

.navbar {
    background: rgba( 0, 0, 0, 0.6)!important;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;

}

.navbar-brand img {
    height: 4rem;
}

.navbar-nav li {
padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-top: .8rem;

}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #1ebba3;
}


.video-background{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
}

.caption {
    position: absolute;
    top: 38%;
    width: 100%;
    color: white;
}

.caption h1{
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    text-shadow: 0.1rem 0.1rem 0.8rem black;
    padding-bottom: 1rem;
}

.caption h3{
    font-size: 2rem;
    text-shadow: 0.1rem 0.1rem 0.5rem black;
    padding-bottom: 1.6rem;
}

.caption h5{
    font-size: 2rem;
    text-shadow: 0.1rem 0.1rem 0.5rem black;
    padding-bottom: 1.6rem;
}

.btn-lg {
    border-width: medium;
    border-radius: 0;
    font-size: 1.1rem;
    padding: 0.6rem 1.3rem;
}

.home-page__cover__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 5px;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0.5);
    line-height: 1
}


.home-page__cover__footer .title {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 16px;
    font-style: italic;
}

.home-page__cover__footer img {
    display: inline-block;
    height: 50px;
    margin-left: 70px;
    vertical-align: middle;
    opacity: .9;
}

.home-page__images {
    text-align: center;
    background-color: #ccc;
    font-size: 0;
}
.home-page__images__item,
.home-page__images__item--1,
.home-page__images__item--2,
.home-page__images__item--3,
.home-page__images__item--4 {
    display: inline-block;
    width: calc(100% / 4);
    padding-bottom: 20%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
.home-page__images__item--1 {
    background-image: url("../img/images__01.jpg");
}
.home-page__images__item--2 {
    background-image: url("../img/images__02.jpg");
}
.home-page__images__item--3 {
    background-image: url("../img/images__03.jpg");
}
.home-page__images__item--4 {
    background-image: url("../img/images__04.jpg");
}


/* Preloader Section */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1s;
    z-index: 10000;
}
.preloader:before {
    content: '';
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    background: #000;
    transition: 1s;
}
.preloader.complete:before {
    left: -50%;
}
.preloader:after {
    content: '';
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: #000;
    transition: 1s;
}
.preloader.complete:after {
    right: -50%;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border: 3px solid #fff;
    animation: animate 2s linear infinite;
    z-index: 10009;
}
.loader:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    animation: animateBg 2s linear infinite;
}

.ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 150px;
    height: 150px;
    background: transparent;
    border: 3px solid #3c3c3c;
    border-radius: 50%;
    text-align: center;
    line-height: 150px;
    font-family: Sans-Serif;
    font-size: 12px;
    color: #fff000;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-shadow: 0 0 10px #fff000;
    box-shadow: 0 0 20px rgba(0,0,0,.5);
    z-index:10010;
}
.ring:before{
    content:'';
    position: absolute;
    margin: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-top: 3px solid #fff000;
    border-right: 3px solid #fff000;
    border-radius: 50%;
    animation: animateCircle 2s linear infinite;
}
.ring span {
    display: block;
    position: absolute;
    top: calc(50% - 2px);
    left: 50%;
    width: 50%;
    height: 4px;
    background: transparent;
    transform-origin: left;
    animation: animateC 2s linear infinite;
}

.ring span:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff000;
    top: -6px;
    right: -8px;
    box-shadow: 0 0 20px #fff000;
}

.preloader.complete {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

@keyframes animateC {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(405deg);
    }
}

@keyframes animateCircle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate {
    0% {
        transform: translate(-50%,-50%) rotate(0deg);
    }
    25% {
        transform: translate(-50%,-50%) rotate(180deg);
    }
    50% {
        transform: translate(-50%,-50%) rotate(180deg);
    }
    75% {
        transform: translate(-50%,-50%) rotate(360deg);
    }
    100% {
        transform: translate(-50%,-50%) rotate(360deg);
    }

}
@keyframes animateBg {
    0% {
        height: 0;
    }
    25% {
        height: 0;
    }
    50% {
        height: 100%;
    }
    75% {
        height: 100%;
    }
    100% {
        height: 0;
    }

}

/*---- Master Head -----*/
header.masthead {
    margin-bottom: 50px;
    background: no-repeat center center;
    background-color: #868e96;
    background-attachment: scroll;
    position: relative;
    background-size: cover;
}

header.masthead .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: 0.5;
}

header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
    padding: 200px 0 150px;
    color: white;
}

@media only screen and (min-width: 768px) {
    header.masthead .page-heading,
    header.masthead .post-heading,
    header.masthead .site-heading {
        padding: 200px 0;
    }
}

header.masthead .page-heading,
header.masthead .site-heading {
    text-align: center;
}

header.masthead .page-heading h1,
header.masthead .site-heading h1 {
    font-size: 50px;
    margin-top: 0;
}

header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.1;
    display: block;
    margin: 10px 0 0;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media only screen and (min-width: 768px) {
    header.masthead .page-heading h1,
    header.masthead .site-heading h1 {
        font-size: 80px;
    }
}

header.masthead .post-heading h1 {
    font-size: 35px;
}

header.masthead .post-heading .meta,
header.masthead .post-heading .subheading {
    line-height: 1.1;
    display: block;
}

header.masthead .post-heading .subheading {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0 30px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header.masthead .post-heading .meta {
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    font-family: 'Lora', 'Times New Roman', serif;
}

header.masthead .post-heading .meta a {
    color: #fff;
}

@media only screen and (min-width: 768px) {
    header.masthead .post-heading h1 {
        font-size: 55px;
    }
    header.masthead .post-heading .subheading {
        font-size: 30px;
    }
}





/*--- footer page --*/
.bg-grey {
    background: #292929;
}

.logo-footer {
    margin-bottom: 40px;
    width: 210px;
}
footer {
    color: grey;
}
footer p, a {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}
footer h6 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 40px;
    position: relative;
}
footer h6:after {
    position: absolute;
    content: "";
    background: grey;
    width: 12%;
    height: 1px;
    left: 0;
    bottom: -20px;
}
.btn-footer {
    color: grey;

    text-decoration: none;
    border: 1px solid;
    border-radius: 43px;
    font-size: 13px;
    padding: 7px 30px;
    line-height: 47px;
}
.btn-footer:hover {

    text-decoration: none;

}
.form-footer input[type="text"] {
    border: none;
    border-radius: 16px 0 0 16px;
    outline: none;
    padding-left: 10px;

}
::placeholder {
    font-size: 10px;
    padding-left: 10px;
    font-style: italic;
}
.form-footer input[type="button"] {
    border: none;
    background:#232323;
    margin-left: -5px;
    color: #fff;
    outline: none;
    border-radius: 0 16px 16px 0;
    padding: 2px 12px;
}
.social .fa {
    color: grey;
    font-size: 22px;
    padding: 10px 15px;
    background: #3c3c3c;
}
footer ul li {
    list-style: none;
    display: block;
}
footer ul  {
    padding-left: 0;
}
footer ul  li a{
    text-decoration: none;
    color: grey;
    text-decoration:none;
}


/*--- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
    margin-left: 0px!important;
    margin-right: 0px!important;
}

/*--- Fixed Video Background iOS/Mobile Style--*/
.video-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#video {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
    z-index: -1000;
}
video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}

/*============= COURSE SECTION =============*/

.col-md-8 {
    margin: 2rem auto 8rem;
    padding-top: 2rem;
}
.col-md-8 h1 {
    font-size: 2.4rem;
}
.btn-primary {
    border-width: medium;
    border-radius: 0;
    padding: .6rem 1.2rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 1rem;
    border-color: #1EBBA3;
    background-color: #1EBBA3;
    color: white;
}
.btn-primary:hover,
.btn-primary:focus {
    border-color: #189582;
    background-color: #189582;
    color: white;
}

/* ---- ---- */
.narrow{
    width: 75%;
    margin: 1.5rem auto;
    padding-top: 2rem;
}

.jumbotron{
    margin-bottom: 0;
    padding: 2rem 0 3.5rem;
    border-radius: 0;
    background-color: rgba( 0, 0, 0, 0.75);
}

h3.heading{
    font-size: 1.9rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.9rem;
}
.heading-underline{
    width: 3rem;
    height: .2rem;
    background-color: #1ebba3;
    margin: 0 auto 2rem;
}


.fixed {
    background-image: url("../img/drone.jpg");
    background-attachment:fixed;
    background-size: 100%;
    z-index: -1;
}

.dark{
    background-color: rgba( 0, 0, 0, 0.75);
    color: white;
}

.fixed-background h3 {

}



.juxtapose {
    box-shadow: 0 0 20px rgba(0,0,0,.5);
    margin-top: -3rem;
    margin-bottom: -3rem;
    max-width: 800px;
}




@media (max-width: 768px) {
    .caption h1{
        font-size: 1.4rem;
        letter-spacing: 0.15rem;
        padding-bottom: 0.5rem;
    }

    .caption h3{
        font-size: 1.1rem;
        padding-bottom: 1.2rem;
    }

    .caption h5{
        font-size: 1rem;
        padding-bottom: 1rem;
    }

    .btn-lg {
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }
    .col-md-8 h1 {
        font-size: 1.7rem;
    }

    .home-page__cover__footer {
        visibility: hidden;
    }

    .juxtapose {

        margin-top: -3rem;
        margin-bottom: -3rem;
        width: 400px;
    }
}


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/